parameters:
    level: 7
    paths:
        - src
        - tests

    checkMissingIterableValueType: false
    ignoreErrors:
#        Ignore type errors with mock objects
        -
            message: '#, PHPUnit\Framework\MockObject\MockObject|[a-zA-Z0-9\\_] given.#'
            paths:
                - tests/UnitTests
